* {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

form {
    margin: 0 auto;
    width: 300px;
}

input {
    margin-bottom: 3px;
    margin-right: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #CCC
}

button {
    padding: 10px
}

label {
    cursor: pointer;
}

.form-container {
    margin: 20px;
    padding: 20px;
}

.app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.roles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.login-form .registration-form {
    width: 300px;
    font-family: Tahoma, Geneva, sans-serif;
}

.login-form h1,
.registration-form h1,
.post_truck-form h1,
.get_truck-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

.login-form input[type="password"],
.login-form input[type="text"],
.registration-form input[type="password"],
.registration-form input[type="email"],
.registration-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-form input[type="submit"],
.registration-form button {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    margin: 10px 0 10px 0;
}